<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <title>My VueJS app</title>
    </head>
    <body>
        <div id="vueApp">

            <nav v-if="!loggedIn">
                <a href="index.html">Home</a>
                <a href="login.html">Login</a>
                <a href="register.html">Register</a>
            </nav>

            <nav v-if="loggedIn == true">
                <a href="index.html">Home</a>
                <a href="make-posts.html">Make-posts</a>
                <a href="edit-posts.html">Edit-posts</a>
                <a @click="logout()" href="#">Logout</a>
            </nav>

            <h1 class="title">Edit Posts</h1>

            <div v-for="article in articles" class="editPosts">
                <h2> {{article.title}} </h2>
                <div class="editPostsForm">
                    <form>
                        <br><label for="articleTitle">Title: </label>
                        <input v-model="title" class="articleTitle" name="articleTitle" :placeholder="article.title"><br><br>
        
                        <label for="articleBody">Body: </label>
                        <input v-model="body" class="articleBody" name="articleBody" :placeholder="article.body"><br><br>
                    </form>
                </div>

                <div class="editBtn">
                    <button @click="editPosts(article.id, title, body)">Edit</button>
                    <button @click="deletePost(article.id)">Delete</button>
                </div>
            </div>

        </div>


        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
