h1.title {
    text-align: center;
}

h3.title {
    text-align: center;
    font-weight: normal;
}

.posts {
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 25% 1vw;
    width: 50%;
}

nav {
    background-color: aqua;
    padding: 1vw;
}

nav a {
    text-decoration: none;
    margin: 0 2vw;
    padding: 1vw;
}

nav a:hover {
    font-weight: bold;
    cursor: pointer;
}

.form {
    border: 1px solid black;
    width: 50%;
    margin: 0 25%;
    text-align: center;
    padding: 1vw 0;
}

button {
    border-radius: 5%;
    padding: 1vw 2vw;
    background-color: white;
}

button:hover {
    background-color: aqua;
    cursor: pointer;
}

.editPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
}

.editPostsForm {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 40%;
    margin: 0 30%;
}

.editBtn {
    margin: 2vw 0;
}

/* css for loader during api requests */
#loader:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loader::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #015a6b ;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .settingsBtns {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 50%;
    margin: 0 25%;
  }
  
  .settingsBtns button {
    width: 75%;
    padding: 2vw 0;
    margin: 1vw 12.5%;
    border-radius: 5%;
  }